<div class="login container d-flex justify-content-center align-items-center min-vh-100">
  <div class="login-box p-4 rounded shadow">
    <h2 class="text-center mb-4">Login</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <input
          type="email"
          class="form-control form-control-lg"
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control form-control-lg"
          placeholder="Senha"
          [(ngModel)]="password"
          name="password"
          required
        >
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>
    </form>
    <p class="account-link text-center mt-3">
      Não tem uma conta? 
      <button class="btn btn-secondary" (click)="navigateToRegister()">Cadastre-se</button>
    </p>
    <p *ngIf="errorMessage" class="text-danger text-center mt-3">{{ errorMessage }}</p>
  </div>
</div>
